/*Font import */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/* Code */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    line-height: 27px;
}
div {
    font-family: 'Bai Jamjuree', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    line-height: 0.8em;
}
p {
    font-weight: 400;
    color: hsl(201, 11%, 66%);
}
#headerpar {
    margin-bottom: 3em;
    width: 38em;
}
#Hheader {
    font-size: 35px;
    margin-top: 0px;
}
.header {
    margin-bottom: 5em;
}
#ios {
    transition: .3s;
    background-color: #26BBA5;
    box-shadow: 0px 1px 7px 0px #26BBA5;
    margin-right: 10px;
    border-bottom: 3px solid #1d8d7c;
}
#mac {
    transition: .3s;
    background-color: #6074FF;
    box-shadow: 0px 1px 7px 0px #6074FF;
    margin-left: 10px;
    border-bottom: 3px solid #4656be;
}
#ios:hover {
    transition: .3s;
    background-color: #61CDBD;
}
#mac:hover {
    transition: .3s;
    background-color: #8896FF;
}
#buttons {
    flex-direction: row;
    justify-content: space-evenly;
}
button {
    border-radius: 2em;
    border: none;
    width: 12em;
    height: 2.8em;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
    cursor: pointer;
}
button:active {
    transform: translateY(2px);
}
.img_header {
    width: 100%;
    height: 300px;
}
.svg_header {
    position: absolute;
    margin-top: 115px;
}
.container {
    width: 550px;
}
.containers {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.computer {
    position: relative;
    width: 50em;
    margin-right: 5em;
    right: 5em;
}
.features {
    overflow: hidden;
    flex-direction: row;
    overflow: hidden;
    text-align: left;
}
#featuresText {
    margin-bottom: 7em;
    align-items: flex-start;
    width: 30em;
}
.Clipboard {
    margin-top: 5em;
}
.devices {
    position: relative;
    width: 45em;
    margin: 3em 0em 2em 0em;
}
#allFeutures {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#allFeutures img {
    margin: 2em 0em 1em 0em;
    height: 50px;
    align-content: center;
}
#logo {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8em;
}
#logo img {
    margin-right: 5em;
    width: 10em;
}